button:focus {
    outline: none;
}

.buttonStyle {
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
}

.buttonStyle--primary {
  border: 0px;
  background-color: #df3d39;
  color: #f5f5f6;
}
.buttonStyle--secondary {
  border: 1px solid #df3d39;
  background-color: transparent;
  color: #f5f5f6;
}

.buttonStyle--circle {
  padding: 10px;
  border-radius: 100px;
}
.buttonStyle--rounded {
  border-radius: 50px;
}
.buttonStyle--slightlyRounded {
  border-radius: 5px;
}
.buttonStyle--box {
  border-radius: 0;
}


.btnIcon--div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btnIcon {
  display: inline-flex;
}
.btnIcon--withIcon {
  margin-right: 7px;
}


